body{	
	background-color: rgba(0, 160, 0, 0.2);
    font-family: 'Merriweather',sans-serif;
    padding: 20px;
	margin: 0;
}

header{	
	width: 100%;
	min-width: 679px;
	background: url(../img/header.jpg) no-repeat;
	text-align: center;
	color: white;
	height: 300px;
	padding-top: 30px;
}

header h1{
	min-width: 500px;
	margin: 60px;
	font-size: 3em;
	background-color: rgba(0, 0, 0, 0.1);
}

.sbody{
	padding: 0;
	display: flex;
	justify-content: space-between;
	flex-direction: row-reverse;
}

aside{
	padding: 20px;
	background-color: rgba(0, 160, 0, 0.2);
	border-radius: 20px;
	height: 200px;
	padding-right: 10px;
}

aside ul{
	padding-left: 0px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}

aside li{
	margin-top: 16px;
	list-style: none;
}


aside li a{
	text-decoration: none;
	color: rgb(0, 100, 0);
}


section{
	background-color: white;
	margin: 0;
	max-width: 70%;
	min-width: 679px;
	padding: 20px;
	border-radius: 20px;
}

section article h3{
    font-size: 34px;
    color: #5689a0;
    margin-top: 15px;
}

.imagePepsi{
	width: 500px;
}


@media screen and (max-width: 1223px){

	.sbody{	
		display: flex;	
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
	}

	aside{
		padding-right: 10px;
		width: 80%;
		max-width: 80%;
		min-width: 719px;
		height: auto;
		margin-bottom: 40px;
	}

	aside ul{
		flex-direction: row;
		flex-wrap: nowrap;
	}

	aside li{
		margin-left: 16px;
	}

	section{
		max-width: 80%;
	}
}