body{	
	background-color: rgba(0, 160, 0, 0.2);
    font-family: 'Roboto', 'Merriweather',sans-serif;
    color: rgba(4, 4, 4, 0.8);
    padding: 20px;
    display: flex;
    flex-direction: column;
}

a{
	text-decoration: none;
}

header{	
	min-width: 679px;
	background: url(../img/header.jpg) no-repeat;
	background-size: cover;
	padding: 32px;
	text-align: center;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 40px;
}

header h1{
	font-size: 3em;
	background-color: rgba(0, 0, 0, 0.1);
}

.sbody{
	padding: 0;
	display: flex;
	justify-content: space-between;
	flex-direction: row-reverse;
}

aside{
	padding: 20px;
	background-color: rgba(0, 160, 0, 0.2);
	border-radius: 20px;
	height: 200px;
}

aside ul{
	padding-left: 0px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}

aside li{
	margin-top: 16px;
	list-style: none;
}


aside li a{
	color: rgb(0, 100, 0);
}


section{
    font-size: 17px;
    letter-spacing: 0.2px;
    word-spacing: 1.5px;
    line-height: 1.8em;
	background-color: white;
	margin: 0;
	max-width: 68%;
	min-width: 679px;
	padding: 32px;
	border-radius: 20px;
}

section article h3{
    font-size: 34px;
    color: #5689a0;
    margin-top: 15px;
}

img{
	min-width: 500px;
}

section p{
	margin-top: 40px;
}


@media screen and (max-width: 1223px){

	.sbody{	
		display: flex;	
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
	}

	aside{
		width: 80%;
		max-width: 80%;
		min-width: 719px;
		height: auto;
		margin-bottom: 40px;
	}

	aside ul{
		flex-direction: row;
		flex-wrap: nowrap;
	}

	aside li{
		margin-left: 16px;
	}

	section{
		max-width: 78%;
		min-width: 719px;
	}

	@media screen and (max-width: 800px)
	{
		body
		{
			padding: 0;
			margin: 0;
		}

		.sbody
		{
			margin: 0;
			padding: 0;
		}
	}
}

footer{	
	margin: 0;
	margin-top: 20px;
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 20px;
	max-width: 73.5%;
	min-width: 679px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

@media screen and (max-width: 1223px)
{
	footer
	{
		margin: auto;
		margin-top: 20px;
		width: 84%;
		max-width: 90%;
		min-width: 783px;
	}

	@media screen and (max-width: 800px)
	{
		footer
		{
			margin-top: 20px;
		}
	}
}